header{ position: fixed ; top : 5px ; left:80px; right:20px; width : 80%; color:#CCC; background: #333;padding : 8px }

footer{ position: fixed ; bottom : 5px ; left:80px; right:20px; width : 80%; color:#CCC; background: #333;
padding : 8px ; clear:both}

main{
	
	margin-left: 7%;
	margin-top : 2%;
	
}

mainmenu{
	
position: fixed;
top: 5px;
padding-top:30px;
bottom: 0px;
width: 180px;
left: 80px;
height: 100%;
/*z-index: 2000;*/
float:left;
background-color: #428BCA
}

ul a{
margin: 0;
padding: 0;
list-style: none;
width: 720px;
float: left;
line-height: 40px;
color: #000;
text-decoration: none;
}

li {
background: url(bullet.gif) no-repeat 0 50%;
padding-left: 30px;
}